<h1>¿Quien soy exactamente?</h1>
<body>
    <h2>
        Mi nombre es Cristian León Avello, tengo 20 años y soy estudiante de 2° año de ingeniería en computación e informática<br>
        de la Universidad Andrés bellos.
    </h2>
    <h2>Tengo experiencia en lenguajes como Python, JavaScript, C++.<br>
        Además manejo tecnologías como Angular, React, MySQL, NodeJS y CSS.   
    </h2>
    <h1>Antecendentes Académicos</h1>
    <h2>
        Enseñanza Media Completa: Sunnyland School (Periodo 2009-2021)<br>
        Educación Superior: Ingeniería en Computación informática - Universidad Andrés bello (2023 - hoy)
    </h2>
    <h1>Experiencia laboral</h1>
    <h2>
        
    </h2>

</body>
