<h1>¿Quien soy exactamente?</h1>
<body>

    <section>
        <h2>
            Mi nombre es Cristian León Avello, tengo 20 años y soy estudiante de 2° año de ingeniería en computación e informática<br>
            de la Universidad Andrés bellos.
        </h2>
        <h2>
            Tengo experiencia en lenguajes como Python, JavaScript, C++.<br>
            Además manejo tecnologías como Angular, React, MySQL, NodeJS y CSS.   
        </h2>
    </section>

    <section>
        <h1>Antecendentes Académicos</h1>
            <h2>
                Enseñanza Media Completa: Sunnyland School (Periodo 2009-2021)<br>
                Educación Superior: Ingeniería en Computación informática - Universidad Andrés bello (2023 - hoy)
            </h2>
    </section>



    <section>  
        <h1>Experiencia laboral</h1>
    

        <section>

            <h2>
                Institución: GRIDO - San felipe<br>
                Cargo: Atención al cliente<br>
                Periodo: septiembre 2021 - noviembre 2021<br>
                Funciones Principales: Responsable de entregar helados<br>
            </h2>
        </section>


        <section>
            <h2>
                Institución: Falabella Retail S.A - San felipe<br>
                Cargo: Asistente de apoyo para época navideña - atención al cliente - reponedor<br>
                Periodo: Diciembre 2021 - Enero 2022<br>
                Funciones Principales: Gestión de Atención al Cliente y Asistencia Integral al Personal,<br>
                donde además mantuve deberes de reponedor en áreas destinadas a la comercialización expédita<br>
            </h2>
        </section>


        <section>
            <h2>
                Institución: Flexit S.A.<br>
                Cargo: Especialista en cargos multifuncionales<br>
                Periodo: Julio 2022 - Noviembre 2023<br>
                Funciones: Mi cargo variaba según la necesidad del turno,<br>
                donde generalmente era la atención al cliente y la venta satisfactoria de los productos.
            </h2>
        </section>

    </section>
</body>