<body class="mat-typography">

  <section class="titulo mat-elevation-z2">
    <h1>Bienvenido a mi página Web</h1>
    <h2>Aquí encontrarás información sobre mí y cómo contactarme.<br>
        Cabe destacar que este es mi primer proyecto en Angular.
    </h2>
  </section>

  <nav class="mat-elevation-z3">
    <ul class="mat-list mat-nav-list">
      <li>
        <button mat-button><a routerLink="/curriculum">Quién soy</a></button>
      </li>
      <li>
        <button mat-button><a routerLink="/galeria">Galería</a></button>
      </li>
      <li>
        <button mat-button><a routerLink="/contacto">Contáctame</a></button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</body>